<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.cc.sc"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- REQUIRED PERMISSION -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    
    <!-- VERSION SUPPORT -->
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <!-- APPLICATION -->
    
    <application
        android:name="edu.cmu.cc.sc.ApplicationState"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SLHTheme">
        <activity
            android:name="edu.cmu.cc.sc.activity.SLHTabLayouActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/cmu.costco.simplifiedcheckout.nfc" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="edu.cmu.cc.sc.activity.SLActivity" >
		</activity>
        
        <activity 
            android:name="edu.cmu.cc.sc.activity.SLItemsActivity" />
        <activity 
            android:name="edu.cmu.cc.sc.activity.SLGetActivity" />
        
        <activity 
            android:name="edu.cmu.cc.sc.qr.ScanditScanActivity" />
        
    </application>

</manifest>
